@import "../css/reset.css";
@import "../html/toggler.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*------------------------------------
              Globals 
 ------------------------------------*/
body{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
/*p {
  margin: 15px 0;
  line-height: 27px;
}*/
.container{
  max-width: 1280px;
  margin: 0 auto;
}
/* // Globals */

/*------------------------------------
              Header 
 ------------------------------------*/
body > header{
  background-color: #4a4a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: 3.5rem;
  padding: 1rem;
}
.navbar__list {
  margin-left: 1.75rem;
}
.navbar__list li{
  display: inline-block;
}
.navbar__list a{
  color: #ffffff;
  text-decoration: none;
  margin-right: 2.375rem;
}
.dropdown__btn::after {
  content: "▼";
}
.dropdown__menu {
  min-width: 18rem;
  border-radius: 4px;
}
.dropdown__menu a {
  color: #333;
  margin: 0.2rem 0;
  font-size: 15px;
}
.dropdown__menu small {
  font-size: 12px;
  color: #b2b2b2;
}
.search__label {
  color: #cccccc;
  margin-right: 1rem;
}
.search__input{
  height: 2.3rem;
  border-radius: 0.25rem;
  width: 12.688rem;
  border: none;
  margin-right: .5rem;
}
.search__menu {
  right: 82px;
  padding: 1rem;
  left: -55px;
  padding: 0.3rem;
}
.search__btn{
  border: none;
  background-color: #ffe55d;
  color: #4a4a4a;
  height: 2.3rem;
  font-weight: 500;
  border-radius: 0.25rem;
  font-size: 16px;
  padding: 0.625rem;
}
/* // Header */

/*------------------------------------
             Intro
 ------------------------------------*/
.intro {
  background-color: #efefef;
  padding: 3.813rem 5.938rem 4.063rem;
}
.intro__heading {
  font-size: 3.875rem;
  color: #4a4a4a;
}
.intro p {
  max-width: 52.063rem;
  color: #333333;
  margin: 1.188rem 0 0.75rem 0;
  line-height: 1.688rem;
  font-size: 1.125rem;
}
.intro strong {
  font-weight: bold;
}
.intro__btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #7ed321;
  padding: 1rem;
  display: inline-block;
  border-radius: 8px;
  font-size: 1.25rem;
}
/* //Intro*/

/*------------------------------------
            Training 
 ------------------------------------*/
.training{
  padding: 4rem 5.875rem 4.313rem;
  display: flex;
}
.training .col{
  margin: 0 2rem;
  clear: both;
}
.training p {
  line-height: 1.688rem;
}
.training__image {
  float: left;
  clear: both;
  padding-right: 0.625rem;
}
.training__heading a {
  color: #4a90e2;
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 1.25rem;
}
/* //Training */

/*------------------------------------
              SPOT 
 ------------------------------------*/
 .spot {
  background-color: #e8f6fc;
  padding: 6.313rem 19.25rem 6.125rem;
  display: flex;
}
.spot .col {
  margin: 0 2rem;
}
.spot__heading {
  font-size: 26px;
  color: #4a4a4a;
  margin: 10px 0;
}
.spot p {
  max-width: 303px;
  line-height: 1.69;
  color: #333333;
}
.spot__label {
  display: block;
  line-height: 1.69;
  color: #333333;
}
.spot__input {
  height: 40px;
  width: 288px;
  border-radius: 8px;
  border: 1px solid grey;
}
.spot__input::placeholder{
  font-size: 16px;
  padding: 0 10px
}
.spot__btn--submit {
  display: block;
  border: none;
  padding: 10px;
  margin: 12px 0;
  background-color: #4a90e2;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  width: 115px;
}
/* //Spot */

/*------------------------------------
              Service
 ------------------------------------*/
 .service {
  padding-top: 5.188rem;
  text-align: center;
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: 7.313rem;
}
.service__heading {
  font-size: 2.125rem;
  margin-bottom: 1.75rem;
}
.service p {
  line-height: 1.688rem;
  margin-bottom: 0.813rem;
}
.service__btn {
  display: inline-block;
  text-decoration: none;
  background-color: #4a90e2;
  padding: 1rem;
  color: white;
  border-radius: 8px;
  width: 177px;
}
/* //Service */

/*------------------------------------
              footer 
 ------------------------------------*/
.site-footer {
  
}
.site-footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 0.938rem 0.313rem 6rem;
}
.site-footer__links li {
  display: inline;
}
.site-footer__links a {
  color: #4a90e2;
  margin: 0 5px;
  text-decoration: none;
}
.site-footer p{
  color: #4a4a4a;
}
/* // Footer */